<%- include('../partials/header') %>

<form action="/books" method="POST" autocomplete="off">
    <input type="text" name="name">
    <button type="submit">Save Book List</button>
</form>

<%- include('../partials/footer') %>